@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

body {
  font-family: "Nunito", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8e51ff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f3bff;
}

body::selection {
  background: #8e51ff;
  color: white;
}

.ant-radio-disabled + span {
  color: rgba(0, 0, 0, 0.88) !important;
}

.ant-radio-disabled .ant-radio-inner {
  background-color: #fff !important;
}

.ant-radio-disabled.ant-radio-checked .ant-radio-inner::after {
  background-color: #8b5cf6 !important;
}
.ant-radio-disabled.ant-radio-checked .ant-radio-inner {
  border-color: #8b5cf6 !important;
}

.slick-arrow{
  color: #7f3bff !important;
  
}

/* Carousel slide wrapper */
.review-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

/* Card width control */
.review-card {
  width: 100%;
  max-width: 360px; /* mobile safe */
}

/* Slick carousel width fix */
.ant-carousel .slick-slide > div {
  width: 100%;
}

/* Text breaking protection */
.review-card *,
.review-name,
.review-date {
  word-break: normal !important;
  white-space: normal !important;
  overflow-wrap: break-word;
}

/* Prevent flex shrink issues */
.review-name {
  display: block;
  flex: 1;
}
