@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

body {
  font-family: "Nunito", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8e51ff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f3bff;
}

body::selection {
  background: #8e51ff;
  color: white;
}

.ant-radio-disabled + span {
  color: rgba(0, 0, 0, 0.88) !important;
}

.ant-radio-disabled .ant-radio-inner {
  background-color: #fff !important;
}

.ant-radio-disabled.ant-radio-checked .ant-radio-inner::after {
  background-color: #8b5cf6 !important;
}
.ant-radio-disabled.ant-radio-checked .ant-radio-inner {
  border-color: #8b5cf6 !important;
}

.slick-arrow {
  color: #7f3bff !important;
}

/* === Review Carousel Layout Fix === */

.review-carousel .slick-track {
  display: flex;
}

.review-carousel .slick-slide {
  min-width: 0;
}

/* Mobile: 1 card */
@media (max-width: 639px) {
  .review-carousel .slick-slide {
    width: 100% !important;
  }
}

/* Tablet: 2 cards */
@media (min-width: 640px) and (max-width: 1023px) {
  .review-carousel .slick-slide {
    width: 50% !important;
  }
}

/* Desktop: 3 cards */
@media (min-width: 1024px) {
  .review-carousel .slick-slide {
    width: 33.3333% !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
