@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

body {
  font-family: "Nunito", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8e51ff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f3bff;
}

body::selection {
  background: #8e51ff;
  color: white;
}

.ant-radio-disabled + span {
  color: rgba(0, 0, 0, 0.88) !important;
}

.ant-radio-disabled .ant-radio-inner {
  background-color: #fff !important;
}

.ant-radio-disabled.ant-radio-checked .ant-radio-inner::after {
  background-color: #8b5cf6 !important;
}
.ant-radio-disabled.ant-radio-checked .ant-radio-inner {
  border-color: #8b5cf6 !important;
}

