@import 'tailwindcss';


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}

body::selection {
  background: #0ea5e9;
  color: white;
}