@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Nunito', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8E51FF;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f3bff;
}

body::selection {
  background: #8E51FF;
  color: white;
}